altgraph==0.17.4
attrs==23.1.0
blinker==1.6.2
certifi==2023.7.22
chardet==5.2.0
charset-normalizer==3.3.0
click==8.1.7
et-xmlfile==1.1.0
exceptiongroup==1.1.3
Flask==3.0.0
h11==0.14.0
idna==3.4
itsdangerous==2.1.2
Jinja2==3.1.2
lml==0.1.0
MarkupSafe==2.1.3
openpyxl==3.1.2
outcome==1.2.0
packaging==23.2
pyexcel-io==0.6.6
pyinstaller==6.0.0
pyinstaller-hooks-contrib==2023.9
PySocks==1.7.1
python-dotenv==1.0.0
requests==2.31.0
selenium==4.13.0
sniffio==1.3.0
sortedcontainers==2.4.0
texttable==1.7.0
trio==0.22.2
trio-websocket==0.11.1
urllib3==2.0.6
webdriver-manager==4.0.1
Werkzeug==3.0.0
wsproto==1.2.0
